extends layout

block content
  div.signin
    h1 Hello !! Welcome to website of me
    p Hôm nay mình sẽ hướng dẫn các bạn làm chức năng 
     | Đăng Nhập sử dụng NodeJS và MongoDB
    div.btn_
      a(href='/signin') Sign In
      a(href='/signup') Sign Up