extends layout

block content
  div.signin
    div.center
        h3 SIGN IN
        if hasErrors
          each mess in messages
            span.err= mess
        form(action="/signin" method="POST")
            div.field
                div.label(for="email") Email
                input(type="email" name="email" placeholder='Email')
            div.field
                div.label(for="password") Password
                input(type="password" name="password" placeholder='Password')
            button.btn(type='submit') Sign In
            p Don't Have An Account? &nbsp
              a(href='/signup') Register an account
   
